*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: 1px solid black;
}
a{
  display: block;
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}

.container{
  width: 1200px;
  height: 700px;
  margin: 0 auto;

}
.header{
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;

}
.header .logo{
  width: 200px;
  height: 100px;
  padding-top: 25px;

}
.header .main-menu{
  width: 600px;
  height: 100px;

  display: flex;
  align-items: center;
}
.main-menu li{
  width: 150px;
  height: 25px;
  text-align: center;
}
.sub-menu{

  background-color: pink;
  color: white;
  position: relative;

  display: none;
  z-index: 10;


}





.slide{
  width: 1200px;
  height: 300px;
}
.contents{
  width: 1200px;
  height: 200px;

  display: flex;
}
.notice{
  width: 400px;
  height: 200px;

}
.gallery{
  width: 400px;
  height: 200px;



  display: none;
}
.gallery ul{
  width: 400px;
  height: 200px;

  display: flex;
  align-items: center;

}



.gallery img{

  width: 130px;
  height: 130px;
}
.banner{
  width: 400px;
  height: 200px;

}
.baro{
  width: 400px;
  height: 200px;
}
.baro img{
  width: 400px;
  height: 200px;


}

.footer{
  width: 1200px;
  height: 100px;

  display: flex;

}
.footer .logo{
  width: 200px;
  height: 100px;
  padding-top: 25px;
}
.copy{
  padding: 25px;

}

.pop{
  width: 400px;
  height: 300px;
  background-color: pink;
  color: white;

  position: absolute;
  left: 37%;
  top: 37%;

  display: none;
  

}